<!-- Marie-Ève — 2025-11-13 -->

<%= render "shared/fil_ariane" %>

<h2>Bienvenue sur notre site</h2>

<ul>

    <% @businesses.each do |business| %>
        <li>
            <%= link_to business.name, business_path(business) %>
        </li>
    <% end %>

</ul>