<!-- Maive — 2025-11-13 -->

<%= render "shared/fil_ariane" %>

<h2>Bienvenue dans la section admin</h2>

<ul>
    <!-- Liste ordonnée descendant -->
    <% @businesses.each do |business| %>
        <li>
            <%= link_to business.name, admin_business_path(business) %>
        </li>
    <% end %>
</ul>