<!-- Marie-Ève — 2025-11-13 -->

<%= render "shared/fil_ariane" %>

<h1>Mes restaurants</h1>

<% if @businesses.any? %>
  <ul>
    <% @businesses.each do |business| %>
      <li><%= link_to business.name, mesmenu_path(business) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Vous n’avez pas encore de restaurant.</p>
<% end %>